*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Clases de barra de navegacion*/
:root{
	--naranja: #AD4119;
	--blanco: white;
}
/*----------------------------------------------*/

/*SECCIÓN MENU DE BUSQUEDA*/
.fondoCuadroMenu a{
color: white !important;
font-weight: bold;
font-size: 1.5rem;

}
.fondoMenu{
    background-color: var(--naranja);
    width: 32rem;
}
.colorTitulo{
    color: #AD4119 !important;
    font-size:  4rem;
}
/*-----------------*/

/*SECCIÓN MENU PLATOS*/
.textoInfo{
color: white;
font-size: 2.5rem;
text-align: center;
}
.ordenPropiedadesComida{
    display: flex;
    justify-content: center; 
}

a{
    text-decoration: none;
    color: black;
}
/*--------------*/


/*SECCIÓN MENU SEMANAL*/
.textoMenu{
font-size: 1.3rem;
color: white;
}
.precio{
    background-color: var(--naranja);
    color: white;
    border-color: black;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

/*----------------*/

/*SE USA EN DISTINTAS SECCIONES*/
.textoNegro{
   background-color: var(--naranja);
   color: black;
   border-color: black;
   font-size: 2rem;
   display: block;
   margin: auto;
   margin-top: 2rem;
}
.orden2{
    display: flex;
    justify-content: center;
}
.fondoPedido{
    background-color: #AD4119;
    height: auto;
}
.fondoNoticias{
    background-color: orangered;
    height: auto;
    display: flex;
    justify-content: center;
}
.colorForm{
color: white;
font-size:large;
font-weight: bolder;
background-color: orangered;
}
.colorTexto{
    color: white;
}
.colorTexto2{
    color: black;
}
.fondoBody{
    background-color: black;
}
.alineacion{
    text-align: center;
}
.fondoTransparente{
    background-color: transparent !important;
}  
.orden{
    display: flex;
    justify-content: space-around;
} 
.tamañoFuenteTitulos{
    font-size: 5rem;
} 
/*--------------------------------*/


/*SECCIÓN DE NUESTRAS PRIORIDADES*/
.imgTamanioIconos{
height: 14rem;
width: 14rem;
padding: 0.2rem;
}
.anchoCards{
    width: 18rem;
}
.textoCards{
    color: white;
    font-size: 1.8rem !important;
}
/*-----------------------*/




/*SECCIÓN SOBRE NOSOTROS Y REDES SOCIALES*/
.tituloNosotros{
color: yellow;
font-size: 5rem;
}
.textoNosotros{
font-size: 2.5rem;
color: var(--blanco);
}
.textoMap{
font-size: 5rem;
color: var(--blanco);
}
.anchoTextoUbicacion{
    width: 30rem;
}
.margenRedes{
    margin-right: 60px !important;
}
.tamañoImgRedes{
    height: 500px;
    width: 500px;
}
.textoNoticias{
    font-size: 2rem;
    padding: .5rem;
}
.ordenRedes{
    display: flex;
    justify-content: center;
}
.margenUbicacion{
    margin-left: 400px !important;
}
.tamañoUbicacion{
    height: 400px;
    width: 500px;
}
/*-------------------*/

/*SECCIÓN CUPON*/
.TextoCuponPrincipal{
    font-size: 50px;
}
.textoCupon{
    font-size: 10rem;
    color: black;
}

.textoCupon2{
    font-size: 3rem;
    color: black;
}
.textoCupon3{
    font-size: 2.7rem;
    color: white;
}
.margenCupon{
    margin-top: 200px;
}
.anchoTextoCupon{
    width: 30rem;
}
.anchoTextoNoticias{
    width: 42rem;
}
.ordenNoticias{
    display: flex;
    justify-content: space-around;
}
/*---------------------*/


/*SECCIÓN HACE TU PEDIDO SELECCIÓN DE PEDIDO*/
.margenAclaraciones{
    width: 50rem;
    height: 5rem;
}
.anchoTextoMenuPedir{
    width: 25rem;
}
.ordenMenuSeleccion{
    display: flex;
    justify-content: space-around;
}
/*---------------*/
   
/*SECCIÓN FOOTER*/
.textoFooter2{
    color: black;
    margin-left:255px !important;
}
.altoImgFooter{
    height: 12rem;
}
.altoAnchoImgFooter{
    height: 6rem;
    width:6rem;
}
.fondoFooter{
    background-color: orangered;
    height: 16rem;
}
.ordenFooter{
    display: flex;
    justify-content: space-around;
}
.ordenRedesFooter{
    display: flex;
    justify-content: space-between;
}
/*---------*/


/*SECCIÓN DATOS DE ENTREGA*/
.anchoForm{
    width: 50rem;
}
.ordenDatoEntrega{
    display: flex;
    justify-content: space-between;
}
/*------------------*/

/*SECCIÓN MEDIO DE PAGO*/
.redondo{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.margenBotonRedondo{
    margin: 30px !important;
}
.ordenMedioPago{
    display: flex;
    justify-content: center;
}
/*------------*/

/*SECCIÓN NOVEDADES*/
.imgNews{
width: 20rem;
left: 20rem;
}
/*---------------*/


/*SECCIÓN PLATOS POPULARES*/
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: repeat(2, 1fr);
	-ms-grid: grid;
	gap: 40px;
}
.titulos{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
}
.descripcion{
    text-align: left;
}

/* GOTOP */
.go-top-container{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: brown;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}
.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 5.6rem;
    height: 5.6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 5.6rem;
        height: 5.6rem;
    }
}
/* FIN GOTOP */



/*------------------*/

/* MEDIA QUERY*/
@media screen and (min-width:200px) and (max-width:990px){
    div#navbarNavAltMarkup{
        justify-content: start !important;
    }
    .fondoCuadroMenu{
        background-color: rgba(0, 0, 255, 0);
        width: 90rem;
    }
    .colortitulo{
        color: rgb(128, 115, 0);
        width: 20rem;
        left: 20rem;
    }
    
    .anchoCards{
        width: 7rem;
    }
    .textoCards{
        font-size: 0.9rem !important;
    }
    .textoInfo{
        font-size: 1rem !important;
    }
    .tamañoFuenteTitulos{
        font-size: 2rem;
    }

    .textoNegro{
        font-size: 1rem!important;
    }
    .fondoNoticias{
        display: flex;
        justify-content: center;
    }
    .fdoBtnMenu{
        background:#AD4119;
    }
    .imgTamanioIconos{
        height: auto;
        width: auto;
    }
    .imgSello{
        width: 15rem;
        left: 15rem;
    }
    .ordenNew{
        display:block
    }
    .fueraMulita{
        display: none;
    }
    .contenedor {
        width: 40%;
        max-width: 1000px;
        margin: 40px auto 100px auto;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-columns: repeat(2, 1fr);
        -ms-grid: grid;
        gap: 40px;
    }
    .tituloNosotros{
        color: yellow;
        font-size: 2.5rem;
    }
    .textoNosotros{
        font-size: 1rem;
        color: var(--blanco);
    }
    .textoMap{
        font-size: 2.5rem;
        color: var(--blanco);
    }
    .textoNoticias{
        font-size: 1rem;
        padding: .5rem;
    }
    .tamañoImgRedes{
        height: 235px;
        width: 200px;
    }
    .margenRedes{
        margin-right: 20px !important;
    }
    .margenUbicacion{
        margin-left: 20px !important;
    }
    .tamañoUbicacion{
        height: 320px;
        width: 250px;
    }
    .TextoCuponPrincipal{
        font-size: 20px;
    }
    .textoCupon{
        font-size: 2rem;
        color: black;
    }
    
    .textoCupon2{
        font-size: 1.2rem;
        color: black;
    }
    .textoCupon3{
        font-size: 1.2rem;
        color: white;
    }
    .ordenMenuSeleccion{
        display: block;
    }
    .margenAclaraciones{
        width: 27rem;
        height: 5rem;
    }
    .altoImgFooter{
        height: 6rem;
    }
    .altoAnchoImgFooter{
        height: 3rem;
        width: 2rem;
    }
    .fondoFooter{
        height: 10rem;
    }
    .textoFooter2{
        color: black;
        margin-left:112px !important;
    }
}